<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>${self.title()} | projescape</title>
    <link rel="stylesheet" href="/default.css" type="text/css" media="screen" charset="utf-8" />
    <script src="/pjs.js" type="text/javascript"></script>    
</head>

<body>
    <div id="page">
        
        <div id="heading_wrap">
            <div id="heading">
                <h1>projescape</h1> 
                <div id="header_links">
                    % if not 'user.id' in session:
                    <a href="${h.url(controller='login', action='index')}">Sign in</a> |
                    <a href="${h.url(controller='register', action='index')}">Sign up</a>
                    % else:
                    Welcome <img src="${session['user.avatar']}" /> <strong>${session['user.id']}</strong>! |
                    <a href="${h.url(controller='login', action='logout')}">Logout</a>
                    % endif
                </div>
            </div>
        </div>

    <div id="content">
        ${self.body()}
    </div>

    </div>

    <div id="footer_wrap">
    <div id="footer">
        
        <div>
            <a href="#">About</a> |
            <a href="#">Support</a> |
            <a href="#">Join us</a>
        </div>

        <div id="technical">
            python 2.6.6 | pylons 1.0 | sqlalchemy 0.6.5 | projescape m1
        </div>

        <div id="copyrights">
            &copy;2011, <strong>Projescape Team</strong>, all rights reserved.
        </div>
    </div>
    </div>

</body>
</html>
