<%inherit file="/base.html" />

<%def name="title()">HOME</%def>

<%def name="body()">
        <div id="slogan">
            <div><span class="extreme_large">PROJESCAPE</span></div>
            <div><span class="highlight">the period table of open source projects</span></div>
        </div>

        <div id="authors">
            <div class="author_item">
                <div class="author_avatar">
                    <img src="http://www.gravatar.com/avatar/2c05c29685aa4bfefc599fa0d3755549?s=48" alt="" />
                </div>
                <div>
                    <h4>Sunng</h4>
                    <p>Developer.</p>
                </div>
            </div>
            <div class="author_item">
                <div class="author_avatar">
                    <img src="http://www.gravatar.com/avatar/f500d5d5b6aa36f9f09096431a475901?s=48" alt="" />
                </div>
                <div>
                    <h4>samsonw</h4>
                    <p>Developer.</p>
                </div>
            </div>
            <div class="author_item">
                <div class="author_avatar">
                    <img src="http://www.gravatar.com/avatar/697acd42d3082ac0516ba69287bf2a4a?s=48" alt="" />
                </div>
                <div>
                    <h4>Garfield</h4>
                    <p>Developer.</p>
                </div>
            </div>
        </div>
</%def>
