<%inherit file="/base.html" />

<%def name="title()">JOIN</%def>

<%def name="body()">
<div id="register_panel" class="narrow_panel panel">
    <h3>Join projescape</h3>

    % if 'flash' in session:
    <div class="flash">${session.pop('flash')}</div>
    % endif

    <form action="${h.url(controller='register', action='save')}" method="post">
        <p><label for="username">Username:</label><br/>
           <input type="text" name="username" id="username" size="24" placeholder="username" autofocus="autofocus" required="required" /></p>
        <p><label for="passwd">Password:</label><br/>
        <input type="password" name="passwd" id="passwd" size="24" placeholder="password"  required="required" /></p>
        <p><label for="passwd_2">Retype Password:</label><br/>
        <input type="password" name="passwd_2" id="passwd_2" size="24" placeholder="password again"  required="required" /></p>
        <p><label for="email">Email:</label><br/>
        <input type="email" name="email" id="email" size="24" placeholder="email" required="required"  /></p>

        <p><input type="submit" value="OK, Sign me up" /></p>
    </form>

</div>
</%def>

