<%inherit file="/base.html" />

<%def name="title()">PENDING CONFIRM</%def>

<%def name="body()">
<div class="panel">
    <h3>Your account is pending for confirmation.</h3>
    <p>Thank you for registration. 
    Your account is pending confirmation.
    Check your email box <strong>${session['user.email']}</strong> and simply click the url inside to activate your account.</p> 
    <p>If you have not received the mail, click this button to <button onclick="window.location='/register/reconfirm'">Resend confirmation email</button></p>
</div>
</%def>
